html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: Deadhead Script;
    src: url(../fonts/Deadhead\ Script.ttf);
}

#contact {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.info {
    width: 50%;
    background-color: #0a0a0a;
}

#map {
    height: 100%;
    width: 50%;
}

.title {
    background-color: burlywood;
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(7, 5, 5, 0.5) 3px 5px 2px;
    text-decoration: underline burlywood;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.title-map {
    margin-top: 20px;
}

.hours {
    font-family: 'Deadhead Script', sans-serif;
    color: white;
    list-style: none;
    margin-left: 50px;
    font-weight: 400;
    font-size: 25px;
    word-spacing: .3em;
}

.hours span {
    color: burlywood;
    font-size: 30px;
    margin-bottom: 10px;
}

.closed {
color: gray !important;
letter-spacing: .2em !important;
}

.address {
    display: block;
    font-family: 'Deadhead Script', sans-serif;
    color: white;
    margin-left: 25%;
    font-weight: 400;
    padding-top: 10px;
    font-size: 27px;
    word-spacing: .3em;
    text-align: center;
    margin-right: 25%;
}

.phone, a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.phone, a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.phone:hover {
    color: burlywood;
}

.navbar {
    width: 150px;
    height: 150px;
    top: 65%;
    left: 82%;
    line-height: 150px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    color: burlywood;
    transition: 0.24s 0.2s;
    border: 2px solid burlywood;
    background-image: url(https://i.ibb.co/mStw2tH/Screen-Shot-2020-02-27-at-5-26-39-PM.png);
    background-size: cover;
    background-position-x: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position-y: center;
    transition: 1s;
    z-index: 10;
}
.navbar:hover ~ #contact {
    filter: blur(8px);
    transition: 1s ease-in .5s;
}

.navbar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -75px;
    left: -75px;
    border: 150px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}

.navbar:hover .menu {
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(1);
    z-index: 1;
}

.navbar .menu li {
    position: absolute;
    top: -100px;
    left: -100px;
    transform-origin: 100px 100px;
    transition: all 0.5s 0.1s;
    z-index: 10;
}

.navbar:hover .menu > li {
    transition: all 0.7s;
}

.navbar .menu li > i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: rgb(29, 29, 29);
    position: absolute;
    font-size: 59%;
    color: burlywood;
    border: 1px solid burlywood;
    transition: 0.7s;
}

.menu li > i:hover {
    background: white;
    color: black;
    border-color: black;
}

.navbar:hover .menu li:nth-child(1) {
    transition-delay: 0.02s;
    transform: rotate(85deg);
    z-index: 10;
}

.navbar:hover .menu li:nth-child(1) i {
    transition-delay: 0.04s;
    transform: rotate(635deg);
}

.navbar:hover .menu li:nth-child(2) {
    transition-delay: 0.04s;
    transform: rotate(125deg);
}

.navbar:hover .menu li:nth-child(2) i {
    transition-delay: 0.08s;
    transform: rotate(595deg);
}

.navbar:hover .menu li:nth-child(3) {
    transition-delay: 0.06s;
    transform: rotate(165deg);
}

.navbar:hover .menu li:nth-child(3) i {
    transition-delay: 0.12s;
    transform: rotate(555deg);
}

.navbar:hover .menu li:nth-child(4) {
    transition-delay: 0.08s;
    transform: rotate(205deg);
}

.navbar:hover .menu li:nth-child(4) i {
    transition-delay: 0.16s;
    transform: rotate(515deg);
}

.navbar:hover .menu li:nth-child(5) {
    transition-delay: 0.1s;
    transform: rotate(245deg);
}

.navbar:hover .menu li:nth-child(5) i {
    transition-delay: 0.2s;
    transform: rotate(475deg);
}

.navbar:hover .menu li:nth-child(6) {
    transition-delay: 0.12s;
    transform: rotate(285deg);
}

.navbar:hover .menu li:nth-child(6) i {
    transition-delay: 0.24s;
    transform: rotate(435deg);
}

.navbar:hover .menu li:nth-child(7) {
    transition-delay: 0.14s;
    transform: rotate(325deg);
}

.navbar:hover .menu li:nth-child(7) i {
    transition-delay: 0.28s;
    transform: rotate(395deg);
}

.navbar:hover .menu li:nth-child(8) {
    transition-delay: 0.16s;
    transform: rotate(365deg);
}

.navbar:hover .menu li:nth-child(8) i {
    transition-delay: 0.32s;
    transform: rotate(355deg);
}

.fa-clickable {
    cursor: crosshair;
};


@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

