@font-face {
    font-family: Deadhead Script;
    src: url(../fonts/Deadhead\ Script.ttf);
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: black;
}


body header {
    background-color: transparent;
    font-family: 'Deadhead Script';
    position: fixed;
    display: block;
    width: 100%;
    height: 48px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 90;
}

body header .header-inner {
    padding: 12px 1.5%;
}

body header .header-inner .logo {
    position: relative;
    display: inline;
}

body header .header-inner .logo a {
    position: relative;
    display: inline;
    color: #FFFFFF;
    outline: 0px none;
    outline: 0px;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    text-transform: uppercase;
}

body header .header-inner .logo a:hover {
    color: rgba(255, 255, 255, 0.45);
}

body header .header-inner .logo a span {
    font-weight: 700;
}

body header .header-inner nav {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
}

body header .header-inner nav li {
    position: relative;
    display: inline;
    margin-left: 16px;
}

body header .header-inner nav li a {
    font-family: 'Deadhead Script', sans-serif;
    position: relative;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 24px;
    transition: all 0.35s ease-in-out;
}

body header .header-inner nav li a span {
    position: relative;
    z-index: 2;
}

body header .header-inner nav li a:hover {
    color: rgba(255, 255, 255, 0.45);
}

body section.slideshow {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    height: 100vh;
    margin: 0 auto;
    visibility: hidden;
    overflow: hidden;
}

body section.slideshow ul.navigation {
    position: absolute;
    display: block;
    width: 640px;
    height: 640px;
    padding: 0;
    margin: 0;
    left: -230px;
    top: 50%;
    margin-top: -325px;
    z-index: 10;
}

    body section.slideshow ul.navigation li.navigation-item {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.6s ease-in-out;
    }

    body section.slideshow ul.navigation li.navigation-item .rotate-holder {
    position: fixed;
    display: block;
    width: 0;
    height: 0;
    left: -9999px;
    top: -9999px;
}

    body section.slideshow ul.navigation li.navigation-item .background-holder {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;    
    background-size: cover;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

body section.slideshow ul.navigation li.navigation-item:hover .background-holder {
    opacity: 0.75;
}

body section.slideshow ul.navigation li.navigation-item.active .background-holder {
    opacity: 0;
    visibility: hidden;
}

body section.slideshow .detail {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
}

body section.slideshow .detail .detail-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

body section.slideshow .detail .detail-item .headline {
    position: absolute;
    display: block;
    width: 100%;
    max-width: calc(100% - 480px);
    height: 126px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
    word-spacing: .50em;
}


body section.slideshow .detail .detail-item .headline .letter {
    font-family: 'Deadhead Script', sans-serif;
    position: relative;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 110px;
    font-weight: 900;
    font-kerning: none;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: .07em;
}

body section.slideshow .detail .detail-item .background {
    position: absolute;
    display: block;
    width: 100%;
    width: calc(100% + 100px);
    height: 50%;
    height: calc(50% + 100px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: center center;     
    background-size: cover;
    z-index: 1;
}

#beard {
    background-position: top center;
}

#haircut {
    background-position: top center;
}

body section.slideshow .detail .detail-item .background::before {
    content: ""; 
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);   
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

body section.slideshow .detail .detail-item.active {
    opacity: 1;
    visibility: visible;
}

#video {
    object-fit: cover;
    width: 100%;
    height: 50%;
    height: calc(50% + 100px);
    filter: brightness(50%);
}

.title {
    background-color: burlywood;
    font-family: 'Deadhead Script';
    display: block;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(7, 5, 5, 0.5) 3px 5px 2px;
}

.description {
    display: block;
    width: 100%;
    z-index: 2;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    #video {
        object-fit: cover ;
        width: 100%;
        height: 50%;
        height: calc(50% + 100px);
        filter: brightness(50%);
    }
    
    body section.slideshow ul.navigation {
        position: absolute;
        display: block;
        width: 640px;
        height: 640px;
        padding: 0;
        margin: 0;
        left: -230px;
        top: 50%;
        margin-top: -325px;
        z-index: 10;
    }

    body section.slideshow ul.navigation li.navigation-item {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        width: 50px;
        height: 50px;
        padding: 50px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        transition: border 0.6s ease-in-out;
    }

    body section.slideshow .detail .detail-item .headline .letter {
        font-family: 'Deadhead Script', sans-serif;
        position: relative;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        color: #FFFFFF;
        font-size: 40px;
        left: 10%;
        line-height: 110px;
        font-weight: 900;
        font-kerning: none;
        white-space: nowrap;
        box-sizing: border-box;
        text-transform: uppercase;
        letter-spacing: .07em;
    }

    .description {
    display: block;
    width: 100%;
    z-index: 2;
    font-size: 25px;
    text-align: center;
    }
}