@font-face {
    font-family: Deadhead Script;
    src: url(../fonts/Deadhead\ Script.ttf);
}


.carousel-caption {
    background: rgba(0,0,0,.5);
    border-radius: 10px;
}

.d-block {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#video {
    filter: brightness(80%);
}

.title {
    background-color: burlywood;
    font-family: 'Deadhead Script';
    display: block;
    z-index: 2;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0.02em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.description {
    display: block;
    font-size: 30px;
    text-align: center;
    word-spacing: .05em;
}

.slide {
    width: 100%;
    height: 100vh !important;
}

